# Copy this file to terraform.tfvars to override the defaults.
aws_region         = "us-east-2"
cluster_name       = "platform-breakfix"
kubernetes_version = "1.36"

# Optional generic container registries. Set this to {} to create none.
ecr_repositories = {
  core = {
    name                   = "seneschal/core"
    preserve_on_destroy    = false
    max_untagged_image_age = 7
    max_tagged_images      = 20
  }

  migrations = {
    name                   = "seneschal/migrations"
    preserve_on_destroy    = false
    max_untagged_image_age = 7
    max_tagged_images      = 20
  }

  worker = {
    name                   = "seneschal/demo-deployment-worker"
    preserve_on_destroy    = false
    max_untagged_image_age = 7
    max_tagged_images      = 20
  }
}
